.advantages {
  background-color: #ffffff;
}

.advantages__introduction-texts {
  margin: 0 auto;
  width: 282px;
  height: 157px;
  text-align: center;
}

.advantages__introduction-title {
  font-family: @font;
  background-color: @white;
  color: #000000;
  font-weight: 700 bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.advantages__introduction-text {
  font-family: @font;
  background-color: @white;
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}

.advantages__item {
  font-family: @font;
  background-color: #81b3d2;
  color: #ffffff;
  max-width: 320px;
  max-height: 211px;
  text-align: center;
  padding-top: 54px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.advantages__item-title {
  font-family: @font;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.advantages__number {
  font-family: @font;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.advantages__item-text {
  font-family: @font;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0 auato;
  padding: 0;
  width: 282px;
}

.advantages__advantages-list {
  background-color: #eeeeee;
  list-style: none;
  width: 320px;
  margin: 0 auto;
  padding: 26px 0;
}

.advantages-item__advantage-title {
  font-family: @font;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-item__advantage-number {
  font-family: @font;
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-item__advantage-text {
  font-family: @font;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

.advantages__image {
  margin: 0 auto;
  max-width: 320px;
  max-height: 260px;
}

@media (min-width: @tablet-width) {
  .advantages__introduction-texts {
    width: 520px;
    height: 102px;
    margin: 0 auto;
  }

  .advantages__introduction-title {
    font-family: @font;
    font-weight: 700 bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
  }

  .flex-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item {
    width: 256px;
    margin: 0;
  }

  .advantages__advantages-list {
    display: flex;
  }

  .advantages__image {
    margin: 0 auto;
    max-width: 512px;
    max-height: 256px;
  }
}

