.advantages {
  background-color: #ffffff;
}

.advantages__introduction-texts {
  margin-top: 32px;
  margin-left: 18px;
  margin-right: 20px;
  width: 282px;
  height: 157px;
  text-align: center;
}

.advantages__introduction-text--bold {
  font-style: normal;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  color: #000000;
}

.advantages__introduction-text {
  margin-top: 35px;
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.advantages__item {
  background-color: #81b3d2;
  color: #ffffff;
  max-width: 320px;
  max-height: 211px;
  text-align: center;
  padding-top: 54px;
  padding-bottom: 40px;
  padding-left: 19px;
  padding-right: 19px;
}

.advantages__item-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.advantages__number {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.advantages__item-text {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.advantages__advantages-list {
  background-color: #d6d6d6;
  list-style: none;
}

.advantages-item__advantage-title {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-item__advantage-number {
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-item__advantage-text {
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

