.introduction {
  background-color: #ffffff;
  background-image: url("img/back-mobile.jpg.jpg");
  background-repeat: no-repeat;
  width: 320px;
  height: 389px;
}

.introduction__image {
  display: block;
  padding: 0;
  margin-top: 90px;
  margin-bottom: 85px;
}
