.introduction {
  background-color: #ffffff;
  background-image: url(img/back-mobile.jpg.jpg);
  background-repeat: no-repeat;
  width: 320px;
  height: 389px;
}

.introduction__image {
  display: block;
  padding: 0;
  margin-top: 90px;
  margin-bottom: 85px;
}

.advantages__introduction-text {
  font-family: "PT Sans", sans-serif;
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.advantages__introduction-text--bold {
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-size: 18px;
  line-height: 26px;
}
