.page-footer {
  width: 320px;
  margin: 0 auto;
}

.page-footer__hashteg-link {
  display: block;
  font-family: @font;
  color: #000000;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 28px 77px 34px;
}

.copyright {
  display: block;
  margin-left: 80px;
}

.html-link {
  display: block;
}

.page-footer__copyright {
  display: flex;
}
