.recommendations {
  width: 320px;
  margin: 0 auto;
}

.recommendation-list {
  margin: 25px 18px 52px;
  padding: 0;
  list-style-type: none;
  background-color: #ffffff;
}

.recommendation-item__title {
  font-family: @font;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.recommendation-item__text {
  font-family: @font;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  display: block;
}

@media (min-width: @tablet-width) {
  .recommendations {
    width: 768px;
    margin: 0;
    padding: 0;
  }

  .recommendation-list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 256px 256px 256px;
  }

  .recommendation-item {
    margin: 0 0 59px 0;
    padding: 0;
  }

  .recommendation-item__house-icon {
    width: 77px;
    height: 73px;
    display: block;
    margin: 60px auto 27px;
    padding: 0;
  }

  .recommendation-item__burger-icon {
    width: 78px;
    height: 69px;
    display: block;
    margin: 64px auto 28px;
  }

  .recommendation-item__souvenir-icon {
    width: 65px;
    height: 77px;
    display: block;
    margin: 58px auto 27px;
  }

  .recommendation-item__title {
    text-align: center;
    font-weight: 700;
    font-size: 21px;
    line-height: 27px;
  }

  .recommendation-item__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
  }
}
